@import '../../variable';

.cards-filter {
  height: 50px;
  background-color: $lite-gray;

  .cards-filter-wrapper {
    display: flex;
    justify-content: space-between;

    .filter-by {
      display: flex;
    }
  }
}
