@import '../../variable';

.card {
  height: 600px;
  width: 300px;
  margin: 0 40px;
  text-decoration: none;

  .film-image {
    width: 100%;
  }

  .film-info {

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .film-release {
        height: 20px;
        width: 60px;
        border: $gray solid 1px;
        text-align: center;
      }
    }

    .genre-wrapper {
      display: flex;
      flex-wrap: wrap;

      > * {
        margin-right: 10px;
      }
    }
  }
}
