@import '../../variable';

.button {
  background-color: $primary;
  border: none;
  color: $white;
  padding: 10px 20px;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
}

.gray {
  background-color: $gray;
}

.button-search-reverse {
  background-color: $white;
  color: $primary;
}

.search-main-page {
  &:hover {
    background-color: $white;
    > * {
      color: $primary;
    }
  }
}

.sort-by {
  background-color: transparent;
  padding: 0;
  margin-left: 20px;

  > * {
    color: $gray;
  }

  &.selected-rating {
    > * {
      color: $primary;
    }
  }
}
