.content-wrapper {
  height: 100%;
  padding: 40px 0;

  .cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  .no-cards {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
}
